<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ITMS_V1">
	<listeners>
		<listener class-name="com.utilities.Reporting">
		</listener>
	</listeners>
	<test name="FirstScenario">

		<classes>
			  <class name="com.testcases.LoginTest" /> 

		</classes>
	</test>
</suite> 
